aiohttp==3.8.5
aiohttp-retry==2.8.3
aiosignal==1.3.1
anaconda==0.0.1.1
appdirs==1.4.4
async-timeout==4.0.3
attrs==23.1.0
autopep8==2.0.2
beautifulsoup4==4.12.2
black==23.7.0
blinker==1.6.2
calc==1.0
certifi==2023.5.7
charset-normalizer==3.1.0
click==8.1.5
contourpy==1.1.0
cycler==0.11.0
dependencies==7.7.0
distlib==0.3.7
docutils==0.20.1
et-xmlfile==1.1.0
Fibo==1.0.0
filelock==3.12.4
Flask==2.3.3
fonttools==4.40.0
frozendict==2.3.8
frozenlist==1.4.0
html5lib==1.1
idna==3.4
iniconfig==2.0.0
itsdangerous==2.1.2
Jinja2==3.1.2
kiwisolver==1.4.4
lorem==0.1.1
lxml==4.9.3
MarkupSafe==2.1.3
matplotlib==3.7.1
multidict==6.0.4
multitasking==0.0.11
mypy-extensions==1.0.0
ngrok==0.9.0
numpy==1.25.0
openpyxl==3.1.2
packaging==23.1
pandas==2.0.2
pathlib==1.0.1
pathspec==0.11.1
Pillow==9.5.0
pip-upgrade-tool @ git+https://github.com/realiti4/pip-upgrade.git@e6f1242702db1ae404dc6bab5a7aadab4aedff17
platformdirs==3.10.0
pluggy==1.2.0
py-openaq==1.1.0
pycodestyle==2.11.0
PyJWT==2.8.0
pyparsing==3.1.0
pytest==7.4.0
python-dateutil==2.8.2
pytz==2023.3
requests==2.31.0
seaborn==0.12.2
six==1.16.0
soupsieve==2.4.1
statistics==1.0.3.5
twilio==8.7.0
tzdata==2023.3
urllib3==2.0.3
virtualenv==20.24.5
webencodings==0.5.1
Werkzeug==2.3.7
yarl==1.9.2
yfinance==0.2.28
